include README
include LICENSE
include CHANGES
include setup.py

include etc/*
include poem/apache/*
include cron/*

recursive-include poem/media *.css *.js *.jpg *.png *.gif
recursive-include poem/Poem/poem/templates *.html
