#content {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

#content-main {
  float: left;
  width: 1000px;
}

th, td {
  font-size: 13px;
  vertical-align: middle;
  border: 1px solid #ddd;
}

#changelist-filter {
    width: 150px;
    text-align: left;
}

.change-list tbody th a, td{
    font-size: 14px;
}

.groups {
    width: 800px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.group {
    padding-top: 30px;
    width: 380px;
}

fieldset
{
    padding:10px;
    background: white;
    border:1px solid #76ABC3;
}
fieldset > legend
{
    margin-bottom:4px;
    margin-left:10px;
    color: #76ABC3;
    align: center;
}
fieldset > legend > input {
    border: 1px solid #76ABC3;
    text-align: center; 
    background-color: #76ABC3;
    color: white;
    font-color: white;
    font-weight: bold;
     
}

fieldset > legend > select {
    border: 1px solid #76ABC3;
    text-align: center; 
    -webkit-appearance: none;
    appearance: none;
    border-left: none;
    height: 24px;
    border-radius: 0px;
    padding: 0px 0px;
    margin: 1px 0px;
}

fieldset > legend > button {
    background-color: #a41515;
    border: 4px solid #a41515;
    color: white;
    text-align: center;
    align: center;
    text-decoration: none;
}

.service > select {
    -webkit-appearance: none;
    appearance: none;
}

select {
    background: white;
    text-align: center;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 180px;
}

