td.original p {
  visibility: hidden
}

fieldset.infoone label {
    width: 50px;
}

fieldset.infoone input#id_version {
    width: 50px;
}

fieldset.infoone > div > div > p.help {
    padding-left: 30px;
    margin-left: 30px;
}

div.results thead th:first-of-type {
  width: 200px;
}

div.results thead th:nth-of-type(2) {
  text-align: center;
  width: 80px;
}

div.results tbody td:nth-of-type(1) {
  text-align: center;
}

div.results thead th:last-of-type {
  width: 80px;
}

div.module table#change-history > tbody th:nth-of-type(1) {
  width: 50px;
  text-align: center;
}

div.module table#change-history > tbody th:nth-of-type(2) {
  width: 150px;
  text-align: left;
}

div.module table#change-history > tbody td:nth-of-type(1) {
  width: 100px;
  text-align: center;
}

#content-main {
  float: left;
  width: 1000px;
}
#changelist-filter {
  width: 150px;
  text-align: left;
}
.change-list tbody th a, td{
  font-size: 14px;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
  margin-right: 180px;
}

select {
  background: #F6F6F6;
}

