td.original p {
  visibility: hidden
}

tbody tr > th {
  width: 300px;
}

tbody tr td:first-of-type {
  width: 100px;
}

tbody tr td:last-of-type {
  width: 400px;
}
#content-main {
  float: left;
  width: 1000px;
}

fieldset.tagging label {
  width: 50px;
}

.aligned label {
  display: block;
  padding: 2px 10px 0px 0px;
}

fieldset.tagging > div > div > p.help {
  padding-left: 50px;
  margin-left: 10px;
}
