{% extends "admin/index.html" %}
{% load i18n %}

{% if not is_popup %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% for app in app_list %}
      {% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    {% endfor %}
    <a href="{% url 'admin:poem_profile_changelist' %}">Profiles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_probe_changelist' %}">Probes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_metric_changelist' %}">Metrics</a>
  </div>
{% endblock %}
{% endif %}
